@charset "UTF-8";

body {
    margin: 0;
}

.header {
    background-color: red;
    height: 80px;
    width: 980px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.main {
    background-color:blue;
    height: 500px;
    width: 980px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color:black;
    height: 80px;
    width: 980px;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;

}